  //размеры экрана
  $small:  382px;
  $medium-mini: 400px;
  $medium-light: 600px;
  $medium: 700px;
  $large: 910px;
  $huge: 1200px;
  $giant: 1920px;
  $immeasurable: 2560px;

  // main colors
  $basic-white:#ffffff;
  $basic-black:#333333;
  $basic-wgrey: #F5F5F5;
  $basic-grey: #A1A1A3;

  // PRIMARY COLOR/other
  $primary-inactiv:#87B645;
  $primary-hover:#FBAC00;
  $primary-press:#2B69DD;
  $primary-disable:#D7D7D7;

  //border-colors
  $border-gray:#D7D7D7;
  $border-blue: #A0C4FA;
  //центрирование контента
  
  //OTHER COLOR
  $other-green: #098B50;
  $other-izumrud: #026057;
  $other-red: #EB5757;
  $other-blue: #75ACFE;
  $other-ocean: #1BAAD1;
  $other-yellow: #F8DB73;
  $other-greyback: #ECECEC;

//шрифт
  $font-family: 'Raleway', sans-serif;

  $font-H1_60: 60px;
  $font-H2_48: 48px;
  $font-H3_36: 36px;
  $font-Text_30: 30px;
  $font-Text_24: 24px;
  $font-Text_18: 18px;
  $font-Text_14: 14px;

  $font-line130: 130%;
  $font-line140: 140%;

  $weight-light: 300;
  $weight-bolder: 500;
  $weight-bold: 600;
  $weight-bolded: 700;